# Build output
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# NuGet
*.nupkg
packages/

# OS junk
Thumbs.db
.DS_Store

# Logs
*.log

#Meets
Meets/
