@{
    ViewBag.Title = "Employees";
}

<h2>Employee List</h2>

<button id="loadBtn">Load Employees</button>

<div id="result"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $("#loadBtn").click(function () {

        $.ajax({
            url: '/Employee/GetEmployees',
            type: 'GET',
            success: function (data) {

                let html = "<ul>";

                data.forEach(function (emp) {
                    html += "<li>" + emp.Name + " - " + emp.Role + "</li>";
                });

                html += "</ul>";

                $("#result").html(html);
            },
            error: function () {
                alert("Something went wrong!");
            }
        });

    });
</script>