<div class="text-center mt-5">

    <h1 class="display-4">
        E-Commerce Microservices Dashboard
    </h1>

    <p class="lead">
        MVC Frontend consuming 5 APIs
    </p>

    <div class="row mt-5">

        <div class="col-md-3">
            <a class="btn btn-lg btn-primary w-100" href="/Products">
                Products
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-lg btn-success w-100" href="/Cart">
                Cart
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-lg btn-warning w-100" href="/Orders">
                Orders
            </a>
        </div>

        <div class="col-md-3">
            <a class="btn btn-lg btn-danger w-100" href="/Payments">
                Payments
            </a>
        </div>

    </div>

</div>